<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Tracker</title>
  <style>
    #currentDate{display: none;}
    #status{display: none;}
  </style>
</head>
<body>

    <h2>Register Book<h2>
    <form action="/create" method="POST">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Author" name="author">
        <input type="text" id="currentDate" name="added_date" readonly="readonly"/>
        <input type="text" id="status" name="status" value="want_to_read" readonly="readonly"/>
        <button type="submit">Register Book</button>
        <button><a href="/show-books">All Books</a></button>
    </form>


    <script type="text/javascript">
      const today = new Date();
      const yyyy = today.getFullYear();
      let mm = today.getMonth() + 1; 
      let dd = today.getDate();

      if (dd < 10) dd = '0' + dd;
      if (mm < 10) mm = '0' + mm;

      const formattedToday = dd + '/' + mm + '/' + yyyy;
      document.getElementById("currentDate").value = formattedToday.toString();
    </script>
</body>
</html>